.cabecalho{
    background-color: red;
    text-align: center;
    width: 70vw;
    margin: 0 auto;
}

.conteudo{
    margin-top: 5vh;
    max-width: 90vw;
    margin: 0 auto;
}

.caixa{
    width: 40vw;
    height: 25vh;
    background-color: red;
    margin: 1vw 2.5vw;
    float: left;
}